.container {
	font-family: 'Oleo Script', cursive;
	position: relative;
}
.one {
	font-size: 10px;
	font-color: blue;
	transition-property: 
	transition-duration: 1000ms;
	transition-timing-function: linear;
}

.panel-heading{
	font-size: 40px;

}
.panel-body{
	font-size: 30px;
	height: 500px;
    overflow-y: scroll;
}

.body{
	background-color: skyblue;
}

